
# Ignore `node_modules` folder (common for JS projects)
# Ignore all `.DS_Store` (macOS system files)
# Ignore all `.log` files
# Ignore environment files
# Ignore specific files
*.log
.DS_Store
.env
node_modules/
secret-config.json
suds*
*.pdf
*.PDF
